@model IEnumerable<BaseProject.Areas.Admin.Models.ViewRoleViewModel>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @string.Join(", ", item.AssignedUsers.Select(x => x.UserName))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Role.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Role.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
