@model BaseProject.Data.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assignee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasks)
            <a asp-route-issueId="@Model.Id" asp-route="CreateByIssueId"><i class="glyphicon-plus"></i></a>
        </dt>
        <dd>
            @await Component.InvokeAsync("IssueTaskShort", Model)
            @*<vc:issue-task-short issue="Model"></vc:issue-task-short>*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
